%ul.nav.nav-sidebar
  - present :menu, Essential::Presenter::Nav do |nav|
    - nav.items.each do |item|
      %li{ class: (item.is_active? ? "active #{'open' if item.children}" : "") }
        %a{ href: item.path }
          = fa_icon item.icon_class
          #{item.title}
          - if item.children and item.children.any?
            %span.arrow
        - if item.children and item.children.any?
          %ul.nav
            - item.children.each do |child_item|
              %li{ class: child_item.is_active? ? "current" : '' }
                %a{ href: child_item.path }
                  %i{ class: child_item.icon_class ? child_item.icon_class :  'icon-caret-right' }
                  %span #{child_item.title}
