%ul.nav.nav-tabs
  %li{ class: ((!@signing or params[:controller] != "signings") and (!@search or (@search && !@search.filters))) ? 'active' : ''  }
    %a{"data-toggle" => "tab", :href => "#menu"}
      = fa_icon :list
      Menu
.tab-content
  #menu.tab-pane{ class: ((!@signing or params[:controller] != "signings") and (!@search or (@search && !@search.filters))) ? 'active' : '' }
    = render partial: 'layouts/navigation'
